html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    /*background-image: url('../static/images/map.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.map-background {
    /*background-image: url('/app/static/images/leeds_map.PNG');*/
    background-size: cover;
}

/* colour scheme, just use it like this:
    color: var(--dark-gray)
*/
:root {
    --dark-gray: rgba(53, 53, 53, 1);
    --middle-gray: rgba(186, 186, 186, 1);
    --light-gray: rgba(229, 229, 229, 1);
    --dark-green: rgba(62, 137, 74, 1);
    --middle-green: rgba(102, 215, 115, 1);
    --light-green: rgba(194, 255, 204, 1);
    --red: rgba(233, 54, 54, 1);
    --white: white;
    --black: black;
}

.container {
    height: 100%;
}

/* reusable elements */

.btn-bottom {
    margin-bottom: 3.5rem;
}

.white-bg {
    background: white;
}

.back-button {
    padding: 3px;
    height: 100%;
    width: 30%;
    margin-right: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.link-green {
    color: var(--dark-green);
}

.error {
    margin: 5px 0;
}

.error--msg {
    color: var(--red);
}

.page-title-div {
    top: 0;
    padding: 2em 0;
}

.page-content-div {
    padding: 1em 0;
}

.page-btn-bottom{
    bottom: 0;
}

.duration-form {
    margin-right: 5px;
}

/*  We overwrite bootstrap's btn class to get the rounded corners  */
.btn {
    border-radius: 15px;
    width: 100%;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: bold;
}

/* 90% of the view */
.h-90 {
    height: 90%;
}

/* 10% of the view */
.h-10 {
    height: 10%;
}

/* default font size is 16px
   1em is the current font-size
*/

.font-small {
    font-size: 0.8em;
}

/* this is the input field */
.form-control {
    margin: 5px 0px;
    padding: 12px;
    border-radius: 15px;
}

select {
    margin: 5px 0px;
    padding: 12px;
    border-radius: 15px;
    background: white;
}

input[type="date"] {
    margin: 5px 0px;
    padding: 12px;
    border-radius: 15px;
    background: white;
}

input[type="time"] {
    margin: 5px 0px;
    padding: 12px;
    border-radius: 15px;
    background: white;
}

input[type="checkbox"]{
    margin: 0.2rem;
}

/* this is the placeholder text in the input field */
.form-control::placeholder {
    color: var(--middle-gray);
}


.btn-green {
    color: white;
    background: var(--dark-green);
}

.colour-white {
    color: white !important;
}

.colour-red {
    color: var(--red) !important;
}

.card {
    border-radius: 15px;
}

.btn-gray {
    color: white;
    background: var(--middle-gray);
}

.btn-red {
    color: white;
    background: var(--red);
}

.w-48 {
    width: 48%;
}

#feedback-description {
    min-height: 200px;
}

.book-form {
    position: absolute;
    top: 50px;
    left: 0px;
    margin: 20px;
}

/* book a scooter page style */

#location {
    display: block;
}

#booking-time {
    display: none;
}

#confirmation {
    display: none;
}

#customer-details {
    display: none;
}

.form-step {
    height: 100%;
}

.form-step > .btn {
    bottom: 0;
}

.form-step-dot {
    list-style: none;
    margin: 5px;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background: var(--light-gray);
    transition: 0.15s;
}

.form-step-dot.active {
    background-color: var(--dark-gray);
    padding: 0;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    transition: 0.15s;
}


/* end of book a scooter page */

/* base.html style */
.map-pin {
    position: fixed;
    width: 3%;
    min-width: 30px;
}

/*Uni of Leeds*/
#map-pin-1{
    left: 13%;
    top: 15%;
}
/*Train Station*/
#map-pin-2{
    left: 51%;
    top: 62%;
}
/*Trinity*/
#map-pin-3{
    left: 70%;
    top: 55%;
}
/*Merrion Center*/
#map-pin-4{
    left: 62%;
    top: 33%;
}
/*LRI*/
#map-pin-5{
    left: 24%;
    top: 32%;
}
/* end of base.html style */

/* styling history.html */


/* end of history.html style */

#bottom-text1 {
    position: absolute;
    bottom: 50px;
}

#bottom-text2 {
    position: absolute;
    bottom: 20px;
}

.bottom-buttons {
    width: 100%;
    position:absolute;
    bottom: 0px;
    overflow: hidden;
}

.bottom-buttons-form {
    padding: 20px 40px;
    height: auto;
}

.bg-white {
    background-color: #fff;
}

#report-button {
    width: 20%;
    background-color: white;
    position:absolute;
    top: 20px;
    right: 20px;
}

#report-button-link:hover {
    color:var(--dark-green);
}


.profile-img {
    border-radius: 50%;
    width: 5em !important;
    height: 5em;
}

/* EMPLOYEE STYLING */

